---
import type { HTMLAttributes } from "astro/types";
import Wrapper from "../Wrapper.astro";

interface Props extends HTMLAttributes<'h1'> {}


const {
    class : className,
    ...rest
} = Astro.props

---

<h1 class:list={[`text-4xl font-semibold tracking-wide font-theme text-secondary-500 py-16 bg-[url(/img/hero.webp)] bg-blend-overlay bg-primary-300 bg-cover bg-center`, className]} {...rest}>
    <Wrapper width="max" padding="inline">
        <slot />
    </Wrapper>
</h1>

