---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'h2'> { 
    class? : string,
    /**
     * @prop class? : string
     */
    props? : true
}

const { class: className, ...rest } = Astro.props
---

<h2 class:list={['mb-12 text-2xl font-bold font-theme text-secondary-400 relative after:absolute after:-bottom-2 after:left-0 after:right-2/3 after:h-[1px] after:bg-secondary-500/30 w-fit', className]} {...rest}>
    <slot />
</h2>