---
import BioList from "../components/BioList.astro";
import Heading from "../components/Heading/H1.astro";
import H2 from "../components/Heading/H2.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout props
    lang="en"
    title="About Us"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        About Us
    </HeadinG>

    <section>
        <Wrapper width="text" padding="both">

            <TextFlow>

                <p>
                    Founded on February 1, 2008, Louise Kaye began a mission to offer international students quality programs and exceptional host families. With over 50 years of combined experience in the homestay business, Louise Kaye leads a team dedicated to providing you with the best possible program. 
                </p>
                <p>
                    At Elite Canadian Homestay, we envision creating memories that last a lifetime, fostering lifelong friendships between students and host families. Our experienced staff shares a belief in the transformative power of understanding and friendship, breaking down racial and cultural barriers for a better world. We strive to place students in safe, secure, and quality homes while ensuring their time in Canada is both enriching and secure. Our trained teachers offer ESL classes designed to make the most of their time in Canada.
                </p>

                <H2>Who we are</H2>

                <BioList />
            
            </TextFlow>

        </Wrapper>
    </section>
</BaseLayout>