---
import BioList from "../components/BioList.astro";
import Button from "../components/Button.astro";
import Heading from "../components/Heading/H1.astro";
import H2 from "../components/Heading/H2.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout props
    lang="en"
    title="About Us"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        About Us
    </HeadinG>

    <section>
        <Wrapper width="text" padding="both">

            <TextFlow>

                <p>
                    Founded on February 1, 2008, Louise Kaye began a mission to offer international students quality programs and exceptional host families. With over 50 years of combined experience in the homestay business, Louise Kaye leads a team dedicated to providing you with the best possible program. 
                </p>
                <p>
                    At Elite Canadian Homestay, we envision creating memories that last a lifetime, fostering lifelong friendships between students and host families. Our experienced staff shares a belief in the transformative power of understanding and friendship, breaking down racial and cultural barriers for a better world. We strive to place students in safe, secure, and quality homes while ensuring their time in Canada is both enriching and secure. Our trained teachers offer ESL classes designed to make the most of their time in Canada.
                </p>

                <H2>Who we are</H2>

                <BioList />
            
                <p class="mt-12">
                    <Button href="https://www.facebook.com/EliteHomestay" target="_blank" variant="outline-primary" class="py-6">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.04 0H0.96C0.429 0 0 0.429 0 0.96V23.04C0 23.571 0.429 24 0.96 24H23.04C23.571 24 24 23.571 24 23.04V0.96C24 0.429 23.571 0 23.04 0ZM22.08 22.08H16.557V14.706H19.677L20.145 11.085H16.557V8.772C16.557 7.722 16.848 7.008 18.351 7.008H20.268V3.768C19.935 3.723 18.798 3.624 17.472 3.624C14.706 3.624 12.813 5.313 12.813 8.412V11.082H9.687V14.703H12.816V22.08H1.92V1.92H22.08V22.08Z" fill="currentColor"/>
                        </svg>
                            
                        <span>Follow us on Facebook</span>
                    </Button>
                </p>
            </TextFlow>


        </Wrapper>
    </section>
</BaseLayout>