---
import Heading from "../components/Heading/H1.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout props
    lang="en"
    title="Host Families"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        Host Family Information
    </Heading>

    <section>

        <Wrapper width="max" padding="both">

            <TextFlow>
                Thank you for your interest.
                Live in Lower mainland. 
                Short Term Programs (1-4 weeks) in summer months. 
                Focus to improve English and learn Canadian Culutre.

                Why Should I be a Host Family?
                Make life long friends and a new culture.
                Meet other families in your community.

                Who Can Be A Host family?
                All families of all ethnic backgrounds, religions and cultures who represent the Canadian ‘Mosaic” culture.
                    With or without children, and retired .
                    Compassionate families interested in international exchange.

                Host Family Requirements”
                    Canadian citizens or landed immigrants with a criminal record check.
                    English is the main language spoken in the home
                    Provide a safe clean home with a private bedroom and 3 meals a day and internet access.
                
                

            </TextFlow>

        </Wrapper>

    </section>

</BaseLayout>