---
import Image from '../components/Image.astro';
import Button from '../components/Button.astro';
import H2 from '../components/Heading/H2.astro';
import TextFlow from '../components/TextFlow.astro';
import Wrapper from '../components/Wrapper.astro';
import HomeLayout from '../layouts/HomeLayout.astro';
import LiCheckMark from '../components/LiCheckMark.astro';
import Review from '../components/Review.astro';
import BioList from '../components/BioList.astro';

---

<HomeLayout props
	title="First-class homestay services in Vancouver, BC, Canada"
	description="Experience Canadian hospitality at its best with our homestays. Comfort, warmth, and unforgettable memories await."
	lang="en"
>

	<section class="my-12  bg-primary-100" id="welcome">
		<Wrapper width='text' padding='both' class='text-center'>

			<TextFlow class="font-semibold">
				<H2 class='after:left-24 after:right-24 mx-auto'>Welcome to Elite Canadian Homestay</H2>
				<p class="px-4">
					Welcome to Elite Canadian Homestay, your gateway to a rich cultural experience in Vancouver, BC! Nestled in the heart of Canada's west coast, we specialize in creating a warm and welcoming environment for ESL students. Connecting individuals with local families, we go beyond accommodation, providing an authentic Canadian experience.
				</p>
				<Button href="/about" variant='fill-secondary' icon='arrow_circle_right' class="max-w-[400px]">
					Learn More
				</Button>
			</TextFlow>

		</Wrapper>
	</section>


	<section class="my-12">
		<Wrapper width='max' padding='both' class='grid md:grid-cols-2 gap-8'>

			<TextFlow>
				<H2>Why choose Elite Canadian Homestay?</H2>
				<p>
					Whether you're a student seeking an immersive ESL experience or a generous host family eager to open your home to global learners, here is what we offer:
				</p>
				<ul class="grid gap-4">
					<LiCheckMark>
						Cultural Enrichment: Immerse yourself in the rich tapestry of Vancouver's diverse culture.
					</LiCheckMark>

					<LiCheckMark>
						Tailored ESL Support: Benefit from personalized ESL support within the comfort of a welcoming home.
					</LiCheckMark>

					<LiCheckMark>
						Safety and ComfortOur meticulous screening process ensures that host families are reliable and caring, creating a secure environment for students to thrive in their studies and exploration of Vancouver.
					</LiCheckMark>

					<LiCheckMark>
						Local Insights: Our host families, deeply rooted in the local community, offer valuable insights into the city's hidden gems.
					</LiCheckMark>

					<LiCheckMark>
						Memorable Experiences: Create lasting memories that extend beyond the classroom, ensuring that your time in Vancouver is nothing short of extraordinary.
					</LiCheckMark>
				</ul>

				<Button href="/register" variant='fill-secondary' icon="how_to_reg">
					Register Today
				</Button>
			</TextFlow>

			<div class="relative">
				<Image
					src="/img/group-statue.webp"
					alt="A group of students in front of a famous Vancouver statue"
					width={850}
					height={600}
					class='sticky top-32'
				/>
			</div>

		</Wrapper>
	</section>


	<section class="bg-primary-100 py-24">
		<Wrapper width='text' padding='inline'>
			<TextFlow>
				<H2>Discover Vancouver and the surrounding areas</H2>
				<p>
					Nestled between the Pacific Ocean and the Coast Mountain Range, Vancouver seamlessly blends urban living with breath-taking natural beauty. Surrounded by snow-capped mountains and lush greenery, the city offers stunning views at every turn.
				</p>
				<p>
					From the iconic Stanley Park, with its scenic seawalls and dense forests, to the proximity of ocean vistas and mountainous terrain, Vancouver's unique geography makes it a haven for those seeking a harmonious connection with nature. The city's commitment to preserving its natural splendor is evident, making Vancouver not just a place to live but a destination where residents and visitors alike can immerse themselves in the awe-inspiring beauty that defines this coastal metropolis.
				</p>
			</TextFlow>
		</Wrapper>

		<Wrapper width="max" class='grid grid-cols-2 sm:grid-cols-4 my-12'>

			<Image 
				src="/img/science-world-sm.webp"
				alt="Science World"
				width={378}
				height={320}
				rounded={false}
			/>

			<Image 
				src="/img/bridge-sm.webp"
				alt="Lions Gate Bridge"
				width={378}
				height={320}
				rounded={false}
			/>

			<Image 
				src="/img/whales-sm.webp"
				alt="Killer Whales in the ocean"
				width={378}
				height={320}
				rounded={false}
			/>

			<Image 
				src="/img/forest-sm.webp"
				alt="The Forests of British Columbia"
				width={378}
				height={320}
				rounded={false}
			/>

		</Wrapper>

		<Wrapper width='text' padding='inline'>

			<TextFlow>
				<H2>Learn english as a second language with the best</H2>
				<p>
					Elite Canadian Homestay is the top ESL homestay company in Vancouver, BC, offering an immersive cultural experience for students and host families. Our carefully matched host families go beyond providing accommodation, fostering a supportive environment for language development and academic success. Safety is paramount, with a thorough screening process ensuring reliable and caring host families.
				</p>
				<p>
					We prioritize creating memorable experiences, seamlessly integrating students into the local community for cultural events and exploration. Choose Elite Canadian Homestay for a transformative ESL experience that combines academic growth with cultural immersion in the stunning setting of Vancouver, BC.
				</p>
				<Button href="/register" variant='fill-secondary' icon="how_to_reg" class='max-w-[400px]'>
					Register Today
				</Button>
			</TextFlow>
		</Wrapper>
	</section>


	<section>
		<Wrapper width='max' padding='both'>
			<H2>Some kind words from our students and families</H2>

			<div class="grid md:grid-cols-2 gap-x-6 gap-y-10">

				<Review
					name="Amanda Bell"
					review="Hosting a student was a wonderful experience or us. Miyu has become a part of our family. We have established a strong friendship/relationship."
				/>

				<Review
					name="Darryl Hansen"
					review="Our student was polite and respectful and tried to be part of the family. My children benefited by appreciating another culture , who were  part of our household and learning new things was a highlight."
				/>

				<Review
					name="Amelia Gerez"
					review="Good experience for our family, a good chance to make new friends from another country and to be able to let my kids know different cultures."
				/>

				<Review
					name="Koma"
					review="I enjoyed talking a lot with my host family is one of my special experience."
				/>

				<Review
					name="Kotoha"
					review="I played games with my host family"
				/>

				<Review
					name="Yume"
					review="My special experience is watching movies with my host family."
				/>

			</div>

		</Wrapper>
	</section>



	<section>
		<Wrapper width='max' padding='both'>
			<Image
				src="/img/group-canada.webp"
				alt="Group of ESL students in downtown Vancouver"
				width={1000}
				height={450}
			/>
		</Wrapper>
	</section>


	<section>
		<Wrapper width='max' padding='both' class='grid md:grid-cols-2 gap-8'>

			<TextFlow>
				<H2>Who we are</H2>
				<p>
					Our team is qualified to nec ullamcorper sit amet risus nullam eget. Placerat orci nulla pellentesque dignissim enim sit amet. Augue interdum velit euismod in pellentesque massa placerat.
				</p>

				<BioList />
			
			</TextFlow>

			<Image
				src="/img/lighthouse.webp"
				width={800}
				height={800}
				alt="ESL students exploring Vancouver, BC"
			/>
		</Wrapper>
	</section>



</HomeLayout>

