---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading/H1.astro"
import Wrapper from "../components/Wrapper.astro";
import TextFlow from "../components/TextFlow.astro";
import H2 from "../components/Heading/H2.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
import Image from "../components/Image.astro";
import { EMAIL_ADDRESS } from "../config";
---

<BaseLayout props
    lang="en"
    title="Register as a homestay student or host"
    description="Learn english as a second language as a student or sign up to become a Canadian homestay host in Vancouver"
>

    <Heading>
        Register as a Student or Host Family
    </Heading>

    <section>

        <Wrapper width="text">

            <TextFlow>
                
                <p>
                    Whether you're a student eager to embark on a transformative journey or a host family ready to open your doors to global connections, our registration process is simple and straightforward. Simply follow the instructions below.
                </p>

                <p>
                    Please download the student or host family application and email it to
                    <a href={'mailto:' + EMAIL_ADDRESS}>
                        {EMAIL_ADDRESS}
                    </a>
                </p>

            </TextFlow>


            <H2 class="!my-6">Student application</H2>

            <Button 
                href="/docs/student-application-2024.pdf" 
                download="student-application-2024" 
                variant='outline-secondary' 
                class="py-6 no-underline hover:bg-secondary-900 mb-6"
            >
                <Icon icon="download" /> 
                Student Application (36kb PDF)
            </Button>

            <H2 class="!my-6">Host family application</H2>

            <Button 
                href="/docs/host-family-application-2024.pdf" 
                download="host-family-application-2024" 
                variant='outline-secondary' 
                class="py-6 no-underline hover:bg-secondary-900 mb-16"
            >
                <Icon icon="download" /> 
                Host Family Application (304kb PDF)
            </Button>

            <Image
                src="/img/students-11.webp"
                alt="ESL students in front of a Canadian flag"
                width={800}
                height={600}
                
            />


        </Wrapper>

    </section>

</BaseLayout>