---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading/H1.astro"
import Wrapper from "../components/Wrapper.astro";
import TextFlow from "../components/TextFlow.astro";
import H2 from "../components/Heading/H2.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
import { EMAIL_ADDRESS } from "../config";
---

<BaseLayout props
    lang="en"
    title="Register"
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        Register as a Student or Host Family
    </Heading>

    <section>

        <Wrapper width="text">

            <TextFlow>
                
                <p>
                    Whether you're a student eager to embark on a transformative journey or a host family ready to open your doors to global connections, our registration process is simple and straightforward. Simply follow the instructions below.
                </p>

                <H2>For Students</H2>
                 
                <p>
                    Please download the student application and send it to 
                    <a href={'mailto:' + EMAIL_ADDRESS}>
                        {EMAIL_ADDRESS}
                    </a>
                </p>

                <Button 
                    href="/docs/student-application-2024.pdf" 
                    download="student-application-2024" 
                    variant='outline-secondary' 
                    class="py-6 no-underline hover:bg-secondary-900"
                >
                    <Icon icon="download" /> 
                    Student Application (36kb PDF)
                </Button>

                <H2>For Host Families</H2>

                <p>
                    Please download the host Family application and send it to 
                    <a href={'mailto:' + EMAIL_ADDRESS}>
                        {EMAIL_ADDRESS}
                    </a>
                </p>

                <Button 
                    href="/docs/host-family-application-2024.pdf" 
                    download="host-family-application-2024" 
                    variant='outline-secondary' 
                    class="py-6 no-underline hover:bg-secondary-900"
                >
                    <Icon icon="download" /> 
                    Host Family Application (36kb PDF)
                </Button>

            </TextFlow>

        </Wrapper>

    </section>

</BaseLayout>