---
import EvenColumns from "../components/EvenColumns.astro";
import Heading from "../components/Heading/H1.astro";
import H2 from "../components/Heading/H2.astro";
import TextFlow from "../components/TextFlow.astro";
import Wrapper from "../components/Wrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Image from "../components/Image.astro";

---

<BaseLayout props
    lang="en"
    title="Student ESL Homestay in Vancouver, British Columbia, Canada"
    description="Learn english while staying with our amazing, local homestay families. With over 50 years of combined experience in the homestay business, Louise Kaye leads a team dedicated to providing you with the best possible program"
>

    <Heading>
        Student Information
    </Heading>


    <section>

        <Wrapper width="max" padding="both">

            <EvenColumns class="gap-8">

                <TextFlow class="h-min self-center">
                    <H2>
                        Learn english as a second language with the best
                    </H2>

                    <p>
                        At Elite Canadian Homestay, we understand that a successful homestay program begins with careful consideration of each student's unique needs. Our student application process is thoughtfully designed to tailor your homestay experience from the very beginning, ensuring a personalized and successful journey in Vancouver, BC.
                    </p>
                </TextFlow>

                <Image
                    src="/img/students-8.webp"
                    alt="ESL students jumping for fun in Vancouver, BC"
                    width={563}
                    height={1000}
                    class="w-full max-h-[400px] object-cover"
                />

            </EvenColumns>

        </Wrapper>

    </section>


    <section>

        <Wrapper padding="both" width="text">

            <TextFlow>

                <H2>
                    A host family personally selected for you
                </H2>

                <p>
                    Each host family is chosen with great care, embodying a genuine desire to open their homes to students. With a warm, caring, and loving atmosphere, our host families create an environment where you can truly feel at home. Your safety is our priority, and our host families maintain homes that are not only safe but also clean and well-maintained.
                </p>

                <p>
                    Elite Canadian Homestay is more than just a place to stay; it's a bridge to Canadian culture. Our host families offer you a genuine cultural immersion experience in the heart of Vancouver by:
                </p>

                <ul>
                    <li>Providing suitable transportation to your ESL school</li>
                    <li>Actively including you in family activities</li>
                    <li>Helping you improve your English pronunciation</li>
                </ul>

                <p>
                    Our carefully selected host families embrace students as part of their own, ensuring that you're not just staying in a home but becoming a valued member of the family. Moreover, our families are dedicated to helping you seamlessly adjust to Canadian culture, offering guidance and support every step of the way. 
                </p>

                <p>
                    At Elite Canadian Homestay, we pride ourselves on placing students in homes where we would not hesitate to entrust our own children.
                </p>

                <Image
                    src="/img/students-13.webp"
                    alt="ESL students at an outdoor event in British Columbia"
                    width={800}
                    height={600}
                />

                <H2>
                    Dedicated support: Your comfort is our priority
                </H2>

                <p>
                    Throughout your stay in Canada, your dedicated Placement Coordinator will be by your side, offering assistance and guidance. We believe that a supportive network is crucial for a positive homestay experience, and your Coordinator is committed to ensuring your well-being and satisfaction.
                </p>

                <p>
                    Understanding that personal comfort is paramount, we offer flexibility in your homestay placement. If, at any point, you find yourself uncomfortable with your current host family, we provide an alternate placement with just one month's notice. We believe that your homestay should be a positive and comfortable experience, and we are committed to making adjustments when needed.
                </p>

                <p>
                    Each host family provides a private bedroom, three meals a day, assistance with adjusting to Canada, and a commitment to hosting no more than three international students at a time.
                </p>

                <H2>
                    Your responsibility as a student
                </H2>

                <p>
                    At Elite Canadian Homestay, we emphasize responsibility and respect from both sides. Students are expected to keep their rooms clean, abide by host family rules, and take responsibility for any damage to the home. It's a partnership built on mutual respect, where students also commit to abiding by Canadian laws throughout their stay.
                </p>

                <p>
                    Join Elite Canadian Homestay for an immersive experience that goes beyond accommodation—explore the warmth of Canadian hospitality, cultural integration, and a truly enriching homestay journey in Vancouver, BC.
                </p>

                <Image 
                    src="/img/students-15.webp"
                    width={890}
                    height={584}
                    alt="ESL Students enjoying their time in a convertable car"
                />

            </TextFlow>

        </Wrapper>

    </section>


</BaseLayout>