---
import Button from "./Button.astro";
import TextFlow from "./TextFlow.astro";
import Wrapper from "./Wrapper.astro";
import Image from "./Image.astro";

---


<section class="bg-primary-800 text-primary-100 my-24">

    <Wrapper width="max" padding="inline" class="" class="relative">

        <TextFlow class="py-12 md:w-1/2">
            <h2 class="text-3xl font-bold">
                Start Your homestay adventure today
            </h2>

            <p>
                ESL students, find your home in Canada. Host families, open your doors to global connections. Start your homestay journey with us!
            </p>

            <Button href="/register" variant='fill-secondary' icon="how_to_reg" class="max-w-fit">
                Register Today
            </Button>
            
        </TextFlow>

        <div class="pb-12 md:pb-0 md:absolute md:-top-12 md:-bottom-12 md:right-0 md:left-[55%] md:overflow-hidden">
            <Image
                src="/img/girls-laptop.webp"
                alt="Students on a laptop"
                width={854}
                height={569}
                class="w-full h-full object-cover"
            />
        </div>

    </Wrapper>

</section>