---
import Button from "./Button.astro";
import Image from "../components/Image.astro"
import Wrapper from "./Wrapper.astro";
import HeroItem from "./HeroItem.astro";
import HeroIconStudent from "./HeroIconStudent.astro";
import HeroIconHostFamily from "./HeroIconHostFamily.astro";
import HeroIconProgram from "./HeroIconProgram.astro";
---

<section 
    id="hero" 
    data-element="hero" 
    class='relative bg-cover bg-fixed pt-24'
>

    <!-- Desktop Hero Image -->
    <img src="/img/hero.webp" class="hidden md:block absolute -z-10 top-0 left-0 right-0 w-full h-[110vh] max-h-[700px] object-cover object-top" alt="Vancouver's beautiful scenery" />

    <Wrapper width="max" padding="inline" class="relative z-20" >

        <div class="grid gap-4 pt-8">

            <div class="">
                <p class="relative max-w-[500px] mx-auto  text-2xl lg:text-[1.875rem] leading-relaxed text-center font-bold text-secondary-500 font-theme">
                    <!-- Connecting Students with <br /> Host Families since 2008 -->
                    Learn english while experiencing the best of Canadian culture
                </p>
            </div>
        
            <!-- <div class="flex items-center md:items-end justify-evenly gap-4 w-full"> -->
            <div class="relative grid md:flex grid-cols-2 md:grid-cols-none items-end justify-evenly gap-4 w-full">

                <!-- Mobile Hero Image -->
                <div class="md:hidden absolute inset-[0_0_-5rem_0] -z-10 grid items-stretch ">
                    <img 
                        src="/img/hero.webp" 
                        class="relative z-0 object-cover w-auto h-full" 
                        alt="Vancouver's beautiful scenery"
                    />
                    <div class="absolute -top-1 left-0 right-0 z-10 h-[100px] bg-gradient-to-b from-primary-25 from-30%" />
                </div>


                <div class={`self-start md:pb-4 md:mb-12 order-1 md:order-2 w-full col-span-2`}>

                    <h1 class="font-base text-lg text-center text-secondary-800 leading-6 max-w-lg mx-auto px-6 py-4 md:bg-primary-100/50 rounded-xl md:backdrop-blur-sm mb-4 md:mb-8">
                        Elite Canadian Homestay has provided International Students with first-class ESL Programs and Host Families in the Vancouver, British Columbia, Canada since 2008.
                    </h1>
                
                    <div class="flex flex-wrap md:flex-nowrap items-center justify-center gap-2 md:gap-4 px-4 md:px-0">

                        <Button variant="fill-secondary" href='/register' icon="how_to_reg" class="max-w-[400px] bg-secondary-500/100">
                            Register
                
                        </Button>
                        
                        <Button variant="outline-secondary" href='#welcome' icon="info" class="max-w-[400px]">
                            Learn More
                        </Button>

                    </div>
            
                </div>

                <Image 
                    src='/img/hero-girl.webp'
                    alt="ESL student"
                    width={250}
                    height={250}
                    class="order-2 md:order-1 w-[100px] h-[100px] md:w-[175px] md:h-[175px] lg:w-auto lg:h-auto ml-4 self-end"
                />

                <Image 
                    src='/img/hero-boy.webp'
                    alt="ESL student"
                    width={250}
                    height={250}
                    class="order-3 w-[100px] h-[100px] md:w-[175px] md:h-[175px] lg:w-auto lg:h-auto  mr-4 place-self-end"
                />
                
            </div>
        
            
        </div>
        
        <div class="bg-primary-700 text-primary-100 p-8 mx-4 grid md:grid-cols-2 gap-8 rounded-md">

            <div class="grid gap-8">

                <HeroItem 
                    title="Student Information"
                    description="Find out how to learn English while immersing yourself in west-coast Canadian culture"
                    href="/students"
                >
                    <HeroIconStudent slot="icon" />
                </HeroItem>

                <div class="h-[1px] bg-primary-300/50" />
    
                <HeroItem
                    title="Host Family Information"
                    description="Learn what it takes to be the best host you can be for international students."
                    href="/host-families"
                >
                    <HeroIconHostFamily slot="icon" />
                </HeroItem>

                <div class="h-[1px] bg-primary-300/50" />
    
                <HeroItem
                    title="Program Information"
                    description="Find out more information about our programs"
                    href="/programs"
                >
                    <HeroIconProgram slot="icon" />
                </HeroItem>

            </div>


            <Image
                src="/img/students-14.webp"
                width={650}
                height={400}
                alt="ESL students being taught in a classroom"
                class="w-full h-full object-cover rounded-md"
            />


        </div>
    

    </Wrapper>


        


    

</section>


