---
import Button from "./Button.astro";
import Image from "../components/Image.astro"
import Wrapper from "./Wrapper.astro";
---

<section 
    id="hero" 
    data-element="hero" 
    class='relative bg-cover bg-fixed pt-24'
>

    <!-- Desktop Hero Image -->
    <img src="/img/hero.webp" class="hidden md:block absolute -z-10 top-0 left-0 right-0 w-full h-[100vh] max-h-[600px] object-cover object-top" />

    <Wrapper width="max" class="relative z-20">

        <div class="grid gap-4 pt-8">

            <h1 class="text-2xl lg:text-3xl text-center pt-8 md:pt-4 font-bold text-secondary-500 font-theme">
                Connecting Students with <br /> Host Families since 2008
            </h1>
        
            <!-- <div class="flex items-center md:items-end justify-evenly gap-4 w-full"> -->
            <div class="relative grid md:flex grid-cols-2 md:grid-cols-none items-end justify-evenly gap-4 w-full">

                <!-- Mobile Hero Image -->
                <div class="md:hidden absolute inset-[0_0_-5rem_0] -z-10 grid items-stretch ">
                    <img src="/img/hero.webp" class="relative z-0 object-cover w-auto h-full" />
                    <div class="absolute -top-1 left-0 right-0 z-10 h-[100px] bg-gradient-to-b from-primary-25 from-30%" />
                </div>


                <div class={`self-start md:pb-4 md:mb-12 order-1 md:order-2 w-full col-span-2`}>

                    <p class="font-base text-lg text-center text-secondary-800 leading-6 max-w-lg mx-auto px-6 py-4 md:bg-primary-100/50 rounded-xl md:backdrop-blur-sm md:mb-8">
                        Elite Canadian Homestay provides International Students with first-class ESL Programs and Host Families in the Vancouver and Lower Mainland areas of British Columbia, Canada.
                    </p>
                
                    <div class="flex flex-wrap md:flex-nowrap items-center justify-center gap-2 md:gap-4 px-4 md:px-0">

                        <Button variant="fill-secondary" href='/cta' icon="how_to_reg" class="md:max-w-fit">
                            Register
                
                        </Button>
                        
                        <Button variant="outline-secondary" href='/about' icon="info" class="md:max-w-fit">
                            Learn More
                        </Button>

                    </div>
            
                </div>

                <Image 
                    src='/img/hero-girl.webp'
                    alt=""
                    width={250}
                    height={250}
                    class="order-2 md:order-1 w-[100px] h-[100px] md:w-auto md:h-auto ml-4 self-start"
                />

                <Image 
                    src='/img/hero-boy.webp'
                    alt=""
                    width={250}
                    height={250}
                    class="order-3 w-[100px] h-[100px] md:w-auto md:h-auto mr-4 place-self-end"
                />
                
            </div>
        
            
        </div>
        
        <div class="bg-primary-700 text-primary-100 p-8 mx-4 grid md:grid-cols-2 gap-8 rounded-md">


                <div class="grid gap-2">
                    <h2 class="text-primary-200 text-2xl font-bold order-2">Student Information</h2>

                    <p class=" order-3">
                        Find out how to learn English while immersing yourself in west-coast Canadian culture
                    </p>

                    <a href="/students" class="inline-block underline mb-4 order-4">Learn More</a>

                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" class="order-1">
                        <path d="M51.9517 8.46354L27.9507 0.161482C27.3361 -0.0538273 26.6703 -0.0538273 26.0556 0.161482L2.05464 8.46354C1.48195 8.66036 0.979747 9.03178 0.613582 9.52931C0.247417 10.0268 0.0343006 10.6274 0.00205158 11.2525C-0.00068386 11.307 -0.00068386 11.3615 0.00205158 11.416V32.1711C0.00205158 32.9968 0.318135 33.7887 0.880768 34.3725C1.4434 34.9564 2.20649 35.2844 3.00218 35.2844C3.79786 35.2844 4.56095 34.9564 5.12359 34.3725C5.68622 33.7887 6.0023 32.9968 6.0023 32.1711V15.7356L11.9301 17.7852C10.0904 21.4394 9.54368 25.6473 10.3851 29.6766C11.2266 33.7059 13.4028 37.3014 16.5352 39.8375C12.4361 41.9351 8.967 45.1547 6.50233 49.1488C6.28037 49.4911 6.12621 49.8758 6.04879 50.2805C5.97136 50.6852 5.97223 51.1018 6.05134 51.5061C6.13044 51.9105 6.28621 52.2945 6.50958 52.6358C6.73295 52.9771 7.01948 53.269 7.3525 53.4944C7.68551 53.7198 8.05839 53.8742 8.44944 53.9488C8.84049 54.0233 9.24192 54.0164 9.63039 53.9286C10.0189 53.8407 10.3866 53.6736 10.7123 53.4369C11.038 53.2003 11.3151 52.8988 11.5275 52.55C15.0952 46.8528 20.7529 43.5864 27.0032 43.5864C33.2535 43.5864 38.9112 46.8528 42.4913 52.55C42.7038 52.8988 42.9809 53.2003 43.3066 53.4369C43.6322 53.6736 44 53.8407 44.3885 53.9286C44.777 54.0164 45.1784 54.0233 45.5694 53.9488C45.9605 53.8742 46.3334 53.7198 46.6664 53.4944C46.9994 53.269 47.2859 52.9771 47.5093 52.6358C47.7327 52.2945 47.8884 51.9105 47.9675 51.5061C48.0466 51.1018 48.0475 50.6852 47.9701 50.2805C47.8927 49.8758 47.7385 49.4911 47.5166 49.1488C45.0495 45.1501 41.5758 41.9275 37.4711 39.8297C40.6035 37.2937 42.7798 33.6981 43.6213 29.6688C44.4627 25.6395 43.916 21.4316 42.0763 17.7774L51.9517 14.3606C52.5483 14.1535 53.0671 13.757 53.4347 13.2271C53.8022 12.6973 54 12.061 54 11.4082C54 10.7553 53.8022 10.119 53.4347 9.58921C53.0671 9.05939 52.5483 8.66288 51.9517 8.45575V8.46354ZM27.0032 6.38802L41.5163 11.416L27.0032 16.4361L12.5026 11.416L27.0032 6.38802ZM38.0037 25.9446C38.004 27.7176 37.6063 29.4664 36.842 31.0523C36.0778 32.6382 34.9681 34.0175 33.6009 35.0809C32.2337 36.1444 30.6465 36.8627 28.9653 37.179C27.284 37.4952 25.5549 37.4007 23.915 36.903C22.275 36.4052 20.7694 35.5178 19.5174 34.3112C18.2653 33.1046 17.3014 31.612 16.7019 29.9516C16.1025 28.2912 15.884 26.5087 16.0638 24.7455C16.2436 22.9822 16.8167 21.2867 17.7378 19.7932L26.0556 22.6704C26.6704 22.885 27.336 22.885 27.9507 22.6704L36.2686 19.7932C37.4031 21.6287 38.0054 23.7639 38.0037 25.9446Z" fill="currentColor"/>
                        </svg>
                        
                </div>

                <div class="grid gap-2">
                    <h2 class="text-primary-200 text-2xl font-bold order-2">Host Family Information</h2>

                    <p class="">
                        Learn what it takes to be the best host you can be for international students.
                    </p> 

                    <a href="/host-families" class="inline-block underline ">Learn More</a>

                    <svg width="64" height="54" viewBox="0 0 64 54" fill="none" class="order-1">
                    <path d="M56.3502 44.0258C58.4069 44.9901 60.1069 46.3461 61.4501 48.0939C62.7932 49.8416 63.6432 51.8103 64 54H60.5371C60.3063 52.8549 59.876 51.7902 59.2464 50.8059C58.6168 49.8215 57.8508 48.9778 56.9483 48.2747C56.0459 47.5715 55.028 47.0091 53.8947 46.5872C52.7614 46.1653 51.5862 45.9644 50.3689 45.9845C49.1307 45.9845 47.9554 46.1854 46.8431 46.5872C45.7308 46.989 44.7129 47.5414 43.7895 48.2445C42.866 48.9476 42.1 49.8014 41.4914 50.8059C40.8828 51.8103 40.4525 52.875 40.2007 54H36.7378C37.0736 51.8304 37.9131 49.8717 39.2563 48.124C40.5994 46.3763 42.3099 45.0102 44.3876 44.0258C43.1913 43.1218 42.2679 42.027 41.6173 40.7413C40.9667 39.4556 40.6309 38.0896 40.6099 36.6432C40.6099 35.7392 40.7359 34.8653 40.9877 34.0216C41.2395 33.1778 41.6173 32.3843 42.121 31.641C42.6247 30.8977 43.2228 30.2348 43.9154 29.6522C44.608 29.0696 45.3845 28.5775 46.245 28.1757C45.6783 27.3922 45.0277 26.6991 44.2932 26.0965C43.5586 25.4938 42.7611 24.9614 41.9006 24.4994C41.0402 24.0374 40.1377 23.7059 39.1933 23.505C38.2489 23.3041 37.273 23.1836 36.2656 23.1434C34.5867 23.1434 32.9811 23.4548 31.4491 24.0775C29.917 24.7003 28.5844 25.6143 27.4511 26.8197C27.9547 28.1255 28.2066 29.4714 28.2066 30.8575C28.2066 32.7057 27.7764 34.4434 26.9159 36.0706C26.0554 37.6978 24.8487 39.0639 23.2956 40.1688C24.6598 40.8317 25.8875 41.6453 26.9788 42.6096C28.0702 43.5738 29.0146 44.6586 29.8121 45.864C30.6096 47.0693 31.2077 48.355 31.6065 49.7211C32.0052 51.0871 32.2151 52.5134 32.2361 54H28.2066C28.2066 52.413 27.8918 50.9164 27.2622 49.5101C26.6326 48.1039 25.7721 46.8785 24.6808 45.8338C23.5894 44.7892 22.2987 43.9555 20.8087 43.3328C19.3186 42.71 17.755 42.4087 16.1181 42.4288C14.4391 42.4288 12.8756 42.7301 11.4274 43.3328C9.97934 43.9354 8.69913 44.7591 7.58682 45.8037C6.4745 46.8483 5.60354 48.0838 4.97393 49.5101C4.34432 50.9364 4.02951 52.4331 4.02951 54H0C0 52.5335 0.20987 51.1172 0.629611 49.7512C1.04935 48.3851 1.64748 47.0995 2.424 45.8941C3.20052 44.6888 4.13445 43.604 5.22577 42.6397C6.3171 41.6754 7.55534 40.8518 8.94048 40.1688C7.38744 39.0639 6.18069 37.6978 5.32022 36.0706C4.45975 34.4434 4.02951 32.7057 4.02951 30.8575C4.02951 29.2705 4.34432 27.7739 4.97393 26.3677C5.60354 24.9614 6.46401 23.736 7.55534 22.6914C8.64666 21.6468 9.92687 20.8131 11.396 20.1903C12.8651 19.5676 14.4391 19.2662 16.1181 19.2863C17.902 19.2863 19.5914 19.6479 21.1864 20.3711C22.7814 21.0943 24.1666 22.0988 25.3419 23.3845C25.8875 22.8822 26.4752 22.4302 27.1048 22.0285C27.7344 21.6267 28.3955 21.245 29.088 20.8834C27.535 19.7785 26.3282 18.4125 25.4678 16.7852C24.6073 15.158 24.1771 13.4204 24.1771 11.5722C24.1771 9.98514 24.4919 8.48852 25.1215 7.08229C25.7511 5.67607 26.6116 4.45064 27.7029 3.40602C28.7942 2.36139 30.0744 1.5277 31.5435 0.904944C33.0126 0.282187 34.5867 -0.0191473 36.2656 0.000941669C37.9236 0.000941669 39.4871 0.302276 40.9562 0.904944C42.4253 1.50761 43.7055 2.33126 44.7969 3.37588C45.8882 4.42051 46.7591 5.65598 47.4097 7.08229C48.0603 8.50861 48.3751 10.0052 48.3542 11.5722C48.3542 13.4204 47.9239 15.158 47.0634 16.7852C46.203 18.4125 44.9962 19.7785 43.4432 20.8834C44.9123 21.6267 46.2345 22.5307 47.4097 23.5954C48.585 24.6601 49.5819 25.8956 50.4004 27.3018C51.7436 27.3018 53.0028 27.5429 54.1781 28.025C55.3533 28.5071 56.3922 29.1801 57.2946 30.0439C58.1971 30.9078 58.8897 31.8921 59.3724 32.997C59.8551 34.1019 60.1069 35.3173 60.1279 36.6432C60.1279 38.0896 59.8026 39.4556 59.152 40.7413C58.5014 42.027 57.5675 43.1218 56.3502 44.0258ZM16.1181 38.5717C17.2304 38.5717 18.2692 38.3708 19.2346 37.969C20.2 37.5673 21.0605 37.0148 21.816 36.3117C22.5716 35.6086 23.1487 34.795 23.5475 33.8709C23.9462 32.9468 24.1561 31.9424 24.1771 30.8575C24.1771 29.7928 23.9672 28.7984 23.5475 27.8743C23.1277 26.9502 22.5506 26.1266 21.816 25.4034C21.0815 24.6802 20.2315 24.1278 19.2661 23.7461C18.3007 23.3644 17.2514 23.1635 16.1181 23.1434C15.0057 23.1434 13.9669 23.3443 13.0015 23.7461C12.0361 24.1478 11.1756 24.7003 10.4201 25.4034C9.66453 26.1065 9.08739 26.9201 8.68864 27.8442C8.28988 28.7683 8.08001 29.7727 8.05903 30.8575C8.05903 31.9223 8.2689 32.9167 8.68864 33.8408C9.10838 34.7648 9.68552 35.5885 10.4201 36.3117C11.1546 37.0349 12.0046 37.5873 12.97 37.969C13.9354 38.3507 14.9848 38.5516 16.1181 38.5717ZM28.2066 11.5722C28.2066 12.6369 28.4165 13.6313 28.8362 14.5554C29.2559 15.4795 29.8331 16.3031 30.5676 17.0263C31.3022 17.7495 32.1522 18.302 33.1176 18.6837C34.083 19.0653 35.1323 19.2662 36.2656 19.2863C37.3779 19.2863 38.4168 19.0854 39.3822 18.6837C40.3476 18.2819 41.2081 17.7294 41.9636 17.0263C42.7191 16.3232 43.2963 15.5096 43.695 14.5855C44.0938 13.6614 44.3037 12.657 44.3246 11.5722C44.3246 10.5075 44.1148 9.51305 43.695 8.58896C43.2753 7.66487 42.6981 6.84122 41.9636 6.11802C41.2291 5.39482 40.3791 4.84238 39.4137 4.46069C38.4483 4.079 37.3989 3.87811 36.2656 3.85802C35.1533 3.85802 34.1144 4.05891 33.149 4.46069C32.1836 4.86246 31.3232 5.41491 30.5676 6.11802C29.8121 6.82114 29.235 7.63474 28.8362 8.55883C28.4374 9.48292 28.2276 10.4874 28.2066 11.5722ZM50.3689 30.5562C49.4875 30.5562 48.669 30.7169 47.9134 31.0383C47.1579 31.3598 46.4863 31.7917 45.8987 32.3341C45.311 32.8765 44.8493 33.5193 44.5135 34.2626C44.1777 35.0059 44.0098 35.7994 44.0098 36.6432C44.0098 37.4869 44.1777 38.2704 44.5135 38.9936C44.8493 39.7168 45.3005 40.3596 45.8672 40.9221C46.4338 41.4846 47.1054 41.9266 47.8819 42.248C48.6585 42.5694 49.4875 42.7301 50.3689 42.7301C51.2504 42.7301 52.0689 42.5694 52.8244 42.248C53.5799 41.9266 54.2515 41.4946 54.8392 40.9522C55.4268 40.4098 55.8885 39.767 56.2243 39.0237C56.5601 38.2804 56.728 37.4869 56.728 36.6432C56.728 35.7994 56.5601 35.016 56.2243 34.2928C55.8885 33.5696 55.4373 32.9267 54.8706 32.3642C54.304 31.8017 53.6324 31.3598 52.8559 31.0383C52.0794 30.7169 51.2504 30.5562 50.3689 30.5562Z" fill="#E4E9E9"/>
                    </svg>

                </div>

                <div class="grid gap-2">
                    <h2 class="text-primary-200 text-2xl font-bold order-2">Program Information</h2>

                    <p class="">
                        Find out more information about our programs
                    </p>

                    <a href="/programs" class="inline-block underline ">Learn More</a>

                    <svg width="48" height="54" viewBox="0 0 48 54" fill="none" class="order-1">
                    <path d="M47.28 14.0786L30.48 0.578571C30 0.192857 29.52 0 28.8 0H4.8C2.16 0 0 1.73571 0 3.85714V50.1429C0 52.2643 2.16 54 4.8 54H43.2C45.84 54 48 52.2643 48 50.1429V15.4286C48 14.85 47.76 14.4643 47.28 14.0786ZM28.8 4.62857L42.24 15.4286H28.8V4.62857ZM43.2 50.1429H4.8V3.85714H24V15.4286C24 17.55 26.16 19.2857 28.8 19.2857H43.2V50.1429Z" fill="#E4E9E9"/>
                    <path d="M9.6001 38.5714H38.4001V42.4286H9.6001V38.5714ZM9.6001 27H38.4001V30.8571H9.6001V27Z" fill="#E4E9E9"/>
                    </svg>

                </div>

                <div class="bg-red-400 min-h-40">
                    
                </div>


        </div>
    

    </Wrapper>


        


    

</section>


