---
import SkipToContent from '../components/Base/SkipToContent.astro';
import '../css/config.css'
import Footer from '../components/Base/Footer.astro';
import MainContent from '../components/Base/MainContent.astro';
import Meta from '../components/Base/Meta.astro';
import type { Layout } from './types';
import Header from '../components/Base/Header.astro';
import CallToActionBanner from '../components/Base/CallToActionBanner.astro';
import PageTop from '../components/Base/PageTop.astro';
import BackToTop from '../components/Base/BackToTop.astro';


interface Props extends Layout { }

const {
    title,
    description,
	lang = 'en',
	class : className
} = Astro.props

const isRegisterPage = Astro.url.pathname.includes('/register')

---

<html lang={lang} class="">

	<Meta title={title} description={description} />

	<body class:list={['bg-[var(--body-bg-color)] font-base text-[var(--body-text-color)]', className]}>

		<SkipToContent />

		<PageTop />

		<Header variant='sticky' props />
		
        <MainContent>

            <slot />

        </MainContent>

		{ !isRegisterPage &&
			<CallToActionBanner />
		}

        <Footer />

		<BackToTop />

		<slot name="pageEnd" />
		
	</body>
</html>


