---
import type { HTMLAttributes } from 'astro/types';
import Icon from '../Base/Icon.astro';

interface Props extends HTMLAttributes<'li'> {

    /** Link href of Contact link */
    href? : string,

    /** Material Icon string */
    icon? : string,

    class? : string,

    /**
     * @extends <li>
     * @prop href string
     * @prop icon string
     * @prop slot
     */
    props? : true,
}

const {
    href,
    icon,
} = Astro.props
---

{ href ? (

    <li>
        <a href={href} class={`flex items-center gap-2 text-sm border-b border-transparent hover:text-secondary-400`}>
            {icon && <Icon icon={icon} /> }
            <slot />
        </a>
    </li>

) : (

    <li class={`flex items-center gap-2 text-sm`}>
        {icon && <Icon icon={icon} /> }
        <slot />
    </li>

)}



<style>

.contact-bar-item {
    display : flex;
    align-items: center;
    gap : 0.5rem;
}


@media screen and (max-width: 639px) {
    li:nth-child(n + 3) {
        display: none;
    }
    li:nth-child(-n + 2) {
        display : block;
    }
}
</style>