---
import type { HTMLAttributes } from 'astro/types';
import { PAGES, type PageGroup } from '../../config';
import Icon from '../Icon.astro';
import MegaMenu from './MegaMenu.astro';

interface Props extends HTMLAttributes<'li'> {

    /** Link href of Nav Link */
    href : string,

    /** Material icon string */
    icon? : string,

    dropdown? : PageGroup,

    class? : string,

    /**
     * @prop href (string)
     * @prop icon (string)
     * @prop slot
     */
    props? : true
}

const {
    href,
    dropdown = null,
    class : className,
} = Astro.props

const { pathname } = Astro.url

const isActive = pathname === href

const megaMenuPages = !dropdown ? null : PAGES.filter( page => page.group.includes(dropdown))

---

<li>
    <a
        href={href} 
        class:list={[
            className,
            'flex items-center gap-3 border-b-2 border-transparent',
            `${isActive ? 'border-primary-400' : 'hover:text-secondary-500'}`
        ]}
    >

        <slot />
        { megaMenuPages && <Icon icon="expand_more" class="hidden lg:inline-block" /> }

    </a>

    { megaMenuPages && <MegaMenu pages={megaMenuPages} /> }
</li>



