---
import Icon from "../Icon.astro";
---

<p class="flex items-start gap-2 border border-primary-200 bg-primary-25 p-4 max-w-[70ch]">
    <Icon icon="info" />
    <span>
        <strong>Note:</strong>
        Changes will be saved automatically. You may come back and finish the online registration at any time
    </span>
</p>